<html>
  <head>
    <title>Upcoming Releases</title>
    <title>Testing my index file!!</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <meta http-equiv="imagetoolbar" content="no">
    <meta http-equiv="content-language" content="EN">
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="300">
  </head>

  <body>

    <div class="vertical-container">
      <% @release.each do |keg| %>

      <div class="<%= keg[:vol] == 'empty' ? 'tap-table empty' : 'tap-table' %>">
        <h4><%= keg[:project].upcase %></h4>
        <h3><%= keg[:release_date] %></h3>
      </div>

      <% end %>
    </div>

    <footer>
      &copy; <%= Time.now.year %> Kerminator Frogbot and <a href='http://twitter.com/stahnma'>@stahnma</a> | Find the source on <a href='http://github.com/stahnma/beer_endpoint'>github.</a>
    </footer>
  </body>
</html>
